*{
   padding: 0px;
   box-sizing: border-box;
}
.checked{
    color: orange;
}
.home{
    height: 0vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.name span{
    color: #EB6215;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #FFFABA;
   }
.category{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #ebaa28;
}
.pic2, .pic1, .pic3{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.pic1 img,.pic2 img,.pic3 img{
    height: 500px;
    
}
.mode{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    font-size: larger;
}
.darkMode{
    background-color: black;
    color: #EB6215;
    /* color: #EBAA28; */
}
.lightMode{
    background-color:  beige;
    color: black;
   }
/* search */
input{
    font-size: larger;
}
.cart span{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
     color: #FFFfff;  
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
}
#searchInput{
    height: 35px;
    width: 270px;
    border-radius: 25px;
}
/* category */
.womenHome, .menHome, .kidsHome, .categoryHome{
    display: flex;
    flex-direction: column;
   
}
.homeReturn,.homeReturn1,.homeReturn2{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    background-color: #ebaa28;
    height: 40px;
    align-items: center;
    font-size: x-large;
}
.divWomen,.divMen,.divKids{
    border: 3px solid slateblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.divKids img,.divWomen img, .divMen img{
    border: 5px solid red; 
    width: 50%;
   
    }
    .productsKids, .products, .productsMen{
        display: flex;
        justify-content: center;
        padding: 25px;
        font-size: xx-large;
    }
/* account */
.homeReturn3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: flex-end;
    margin-bottom: 50px;
    height: 40px;
    background-color: #ebaa28;
    align-items: center;
    font-size: x-large;
}
.createAccount{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 40px;
    gap: 10px;
    flex-wrap: wrap;
}  
/* cart */
.createCart{
    border: #ebaa28  2px solid;
    display: flex; 
    flex-direction: column;
    gap: 40px; 
}
.div{
    border: green 2px solid;
    display: flex;  
    flex-direction: row; 
}
.divProducts{
    
    border: solid 3px blue;
    width: 20%;
   
}
.div2{
    border: solid 3px black;
}
.divTotal{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    border: solid 3px red;
}
/* description */
.divBack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: #ebaa28;
    
}
.womenDescription,.menDescription,.kidsDescription, .details{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin-left: 25px;
    gap: 10px;
        }
.womenDescription img,.menDescription img,.kidsDescription img,  .details img{
        width: 75%;
}
.divReaction{
    display: flex;
   justify-content: flex-start; 
   gap: 50px;
}




