*{
   padding: 0px;
   box-sizing: border-box;
}
.home{
    height: 0vh;
    display: flex;
    flex-direction: column;
}
.name span{
    color: #EB6215;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #FFFABA;
   }
.category{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #ebaa28;
}
.pic2, .pic1, .pic3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.pic1 img,.pic2 img,.pic3 img{
    height: 500px;
}
.mode{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    font-size: larger;
}
.darkMode{
    background-color: black;
    color: #EB6215;
    /* color: #EBAA28; */
}
.lightMode{
    background-color:  beige;
    color: black;
}
#searchInput{
    height: 30px;
    width: 200px;
    border-radius: 25px;
}
/* category */
.womenHome, .menHome, .kidsHome{
    display: flex;
    flex-direction: column;
   
}
.homeReturn,.homeReturn1,.homeReturn2{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    background-color: #ebaa28;
    height: 40px;
    align-items: center;
}
.divWomen,.divMen,.divKids{
    border: 3px solid slateblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.divKids img,.divWomen img, .divMen img{
    border: 5px solid red; 
    width: 60%;
    }
    .productsKids, .products, .productsMen{
        display: flex;
        justify-content: center;
        padding: 25px;
        font-size: xx-large;
    }
/* account */
.homeReturn3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: flex-end;
    margin-bottom: 50px;
    height: 40px;
    background-color: #ebaa28;
    align-items: center;
}
.createAccount{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 40px;
    gap: 10px;
    flex-wrap: wrap;
}  
/* cart */
.createCart{
    display: flex; 
    flex-direction: column;
    gap: 40px; 
}
.divProducts{
    border: solid 3px red;
   
}
.divTotal{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
}
/* description */
.divBack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: #ebaa28;
    
}
.womenDescription,.menDescription,.kidsDescription{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin-left: 25px;
    gap: 30px;
}
.womenDescription img,.menDescription img,.kidsDescription img{
        width: 75%;
}


